body {
    background-color: #d1d1d1;
    font-family: 'Fjalla One', sans-serif;
}

.box {
    width: 600px;
    margin: 2% auto;
    position: relative;
}

.calendar {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    color: white;
}

.calendar .year,
.calendar .month,
.calendar .day {
    width: 33.333%;
    float: left;
}

.calendar .year .previous p,
.calendar .year .next p,
.calendar .year .current p,
.calendar .month .previous p,
.calendar .month .next p,
.calendar .month .current p,
.calendar .day .previous p,
.calendar .day .next p,
.calendar .day .current p {
    font-size: 40px;
    margin: 0;
}

.calendar .year .previous span,
.calendar .year .next span,
.calendar .year .current span,
.calendar .month .previous span,
.calendar .month .next span,
.calendar .month .current span,
.calendar .day .previous span,
.calendar .day .next span,
.calendar .day .current span {
    font-size: 14px;
    text-transform: uppercase;
}

.calendar .year .previous,
.calendar .year .next,
.calendar .month .previous,
.calendar .month .next,
.calendar .day .previous,
.calendar .day .next {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2.6em 0;
}

.calendar .year .previous p,
.calendar .year .next p,
.calendar .month .previous p,
.calendar .month .next p,
.calendar .day .previous p,
.calendar .day .next p {
    opacity: 0.3;
}

.calendar .year .current,
.calendar .month .current,
.calendar .day .current {
    padding: 2em 0;
}

.calendar .year {
    background-color: #b81d55;
}

.calendar .month {
    background-color: #b81d80;
}

.calendar .day {
    background-color: #bb2fb5;
}